<!DOCTYPE html>
<html data-wf-domain="shadows-template.webflow.io" data-wf-page="64d9e7b1693ca5d7a467c49b"
    data-wf-site="64d9e7b1693ca5d7a467c4b4">

<head>
    <%- include("../partials/imports.ejs",{title:"In Progress"}) %>
</head>

<body class="body-flex"> 
    
    <%- include("../partials/navbar.ejs") %>

    <div class="utility-page-wrap">
        <div class="utility-page-content">
            <div class="spacer-2-5em---32px"></div>
            <h1 class="_404-text">Coming Soon!</h1>
            <div class="spacer-1-3em---16px"></div>
            <div class="text-md">The page you are looking for will be ready as soon as I muster up the motivation to
                finish it :)</div>
            <div class="spacer-2-5em---32px"></div>
        </div>
        <div class="luminous-borders-container z-index-100">
            <div class="luminous-borders-blur no-bottom no-top"></div>
            <div class="luminous-borders-solid no-bottom no-top"></div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    
</body>

</html>